#translation-editor-language-table {
	
	td, 
	th {
		&.translation-editor-flag,
		&.translation-editor-delete {
			width: 1%;
			text-align: center;
			white-space: nowrap;
		}
	}
	
	td.translation-editor-delete {
		.elgg-anchor-label {
			display: none;
		}
	}
}

img.translation-editor-flag {
	max-width: unset;
}

#translation-editor-plugin-list {
	th,
	td {
		text-align: center;
		white-space: nowrap;
	}
	
	th:first-child,
	td:first-child {
		text-align: left;
		width: 100%;
	}
	
	.translation-editor-translation-complete {
		color: green;
	}
	
	.translation-editor-translation-needed {
		color: red;
	}
	
	.translation-editor-plugin-actions {
		.elgg-anchor-label {
			display: none;
		}
	}
}

.translation-editor-translation-table {
	tr.translation-editor-original {
		display: none;
	}

	pre {
		white-space: normal;
		margin-bottom: 5px;
	}

	td {
		white-space: nowrap;
		
		&.translation-editor-flag {
			width: 1%;
			text-align: center;
			white-space: nowrap;
		}

		&.translation-editor-translation-key {
			width: 1%;
			text-align: right;
			white-space: nowrap;
			
			.elgg-icon-key {
				cursor: help;
			}
			.elgg-icon-eye {
				margin-right: .5rem;
				cursor: pointer;
			}
		}
		
	}
}

.elgg-menu-translation-editor-plugin-edit-container {
	.elgg-menu-hz {
		li {
			margin-left: 0.5rem;
		}
	}
	
	li.elgg-state-selected {
		a {
			font-weight: bold;
		}
	}
	
	.elgg-badge {
		margin-left: 0.2rem;
	}
}
