#translation-editor-language-table {
	
	td, 
	th {
		&.translation-editor-flag,
		&.translation-editor-disable,
		&.translation-editor-delete {
			width: 1%;
			text-align: center;
			white-space: nowrap;
		}
	}
	
	td.translation-editor-delete {
		.elgg-anchor-label {
			display: none;
		}
	}
}

img.translation-editor-flag {
	max-width: unset;
}

#translation-editor-plugin-list {
	th,
	td {
		text-align: center;
		white-space: nowrap;
	}
	
	th:first-child,
	td:first-child {
		text-align: left;
		width: 100%;
	}
	
	.translation-editor-translation-complete {
		color: green;
	}
	
	.translation-editor-translation-needed {
		color: red;
	}
	
	.translation-editor-plugin-actions {
		.elgg-anchor-label {
			display: none;
		}
	}
}

.translation-editor-translation-table {
	tr {
		display: none;
	}

	tr[rel='missing'],
	&.translation-editor-translation-table-no-missing tr {
		display: table-row;
		<!--
		display: inline-block;
		-->
	}

	pre {
		white-space: normal;
		margin-bottom: 5px;
	}

	td {
		white-space: nowrap;
	}
	
	td.translation-editor-flag,
	td.translation-editor-translation-key {
		width: 1%;
		text-align: center;
		white-space: nowrap;
	}
	
	td.translation-editor-translation-key {
		cursor: help;
	}
}

.elgg-form-translation-editor-search {
	.elgg-fieldset {
		display: flex;
		
		>.elgg-field:first-child {
			width: 100%;
		}
	}
}

.elgg-menu-translation-editor-plugin-edit-container {
	.elgg-menu-hz {
		li {
			margin-left: 0.5rem;
		}
	}
	
	li.elgg-state-selected {
		a {
			font-weight: bold;
		}
	}
	
	.elgg-badge {
		margin-left: 0.2rem;
	}
}

.translation-editor-cleanup .elgg-output a {
	color: white;
	text-decoration: underline;
}
